{namespace s=Serfhos\MyRedirects\ViewHelper}

<f:layout name="Default"/>

<f:section name="Content">
    <s:flashMessages renderMode="div" class="my-redirects-messages"/>

    <form action="{formAction}" method="POST">
        <f:form.hidden name="calculate-hash" value="1"/>

        <p>
            Want to recalculate all configured hashes?
        </p>
        <f:form.button>
            Recalculate hash
        </f:form.button>
    </form>

    <form action="{formAction}" method="POST">
        <f:form.hidden name="convert-realurl" value="1"/>

        <p>
            Used RealURL before? You can migrate all previous redirect RealURL data to this extension:
        </p>
        <f:form.button>
            Convert RealURL redirects
        </f:form.button>
    </form>
</f:section>