{namespace s=KoninklijkeCollective\MyRedirects\ViewHelper}

<f:layout name="Default"/>

<f:section name="Content">
    <s:flashMessages>
        <div class="typo3-messages my-redirects-messages">
            <f:for each="{flashMessages}" as="message">
                <div class="typo3-message {message.class}">
                    <div class="message-title">{message.render}</div>
                    <div class="message-body">{message.message}</div>
                </div>
            </f:for>
        </div>
    </s:flashMessages>

    <form action="{formAction}" method="POST">
        <f:form.hidden name="calculate-hash" value="1"/>

        <p>
            Want to recalculate all configured hashes?
        </p>
        <f:form.button>
            Recalculate hash
        </f:form.button>
    </form>

    <form action="{formAction}" method="POST">
        <f:form.hidden name="convert-realurl" value="1"/>

        <p>
            Used RealURL before? You can migrate all previous redirect RealURL data to this extension:
        </p>
        <f:form.button>
            Convert RealURL redirects
        </f:form.button>
    </form>
</f:section>
