<f:layout name="Default"/>

<f:section name="Content">
    <f:render partial="FlashMessages"/>

    <form action="{formAction}" method="POST">
        <f:form.hidden name="calculate-hash" value="1"/>

        <p>
            Want to recalculate all configured hashes?
        </p>
        <f:form.button class="btn btn-default btn-sm">
            Recalculate hash
        </f:form.button>
    </form>

    <hr/>
    <form action="{formAction}" method="POST">
        <f:form.hidden name="convert-realurl" value="1"/>

        <p>
            Used RealURL before? You can migrate all previous redirect RealURL data to this extension:
        </p>
        <f:form.button class="btn btn-default btn-sm">
            Convert RealURL redirects
        </f:form.button>
    </form>
</f:section>
