<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">

<f:comment>
    Listing of all users
</f:comment>
<f:be.widget.paginate objects="{redirects}" as="records" configuration="{itemsPerPage: 50, insertBelow: 1}">
    <div class="table-fit">
        <table id="my-redirects-list" class="table table-striped table-hover">
            <thead>
                <tr>
                    <th></th>
                    <th class="col-title col-redirect-from">
                        <f:render section="ListHeaderSorting"
                            arguments="{type: 'url', order: order, direction: direction}"/>
                    </th>
                    <th class="col-title col-redirect-to">
                        <f:render section="ListHeaderSorting"
                            arguments="{type: 'destination', order: order, direction: direction}"/>
                    </th>
                    <th class="col-control"></th>
                    <th class="col-redirect-hits">
                        <f:render section="ListHeaderSorting"
                            arguments="{type: 'counter', order: order, direction: direction}"/>
                    </th>
                    <th class="col-redirect-last-hit-date">
                        <f:render section="ListHeaderSorting"
                            arguments="{type: 'last_hit', order: order, direction: direction}"/>
                    </th>
                </tr>
            </thead>
            <tbody>
            <f:for each="{records}" as="record">
                <f:render partial="List/RedirectRow" arguments="{redirect: record, currentUrl: currentUrl, moduleUrl: moduleUrl}"/>
            </f:for>
            </tbody>

            <f:comment>
                Footer row: no officially defined style yet
            </f:comment>
            <tfoot>
                <tr>
                    <td colspan="6">
                        <f:count subject="{redirects}" /> <f:translate key="redirect.plural" />
                    </td>
                </tr>
            </tfoot>
        </table>
    </div>
</f:be.widget.paginate>


<f:section name="ListHeaderSorting">
    <f:if condition="{0: order} == {0: type}">
        <f:then>
            <f:if condition="{0: direction} == {0: 'ASC'}">
                <f:then>
                    <f:link.action arguments="{order: type, direction: 'DESC'}">
                        {f:translate(key: 'table.header.{type}')}
                    </f:link.action>
                </f:then>
                <f:else>
                    <f:link.action arguments="{order: type, direction: 'ASC'}">
                        {f:translate(key: 'table.header.{type}')}
                    </f:link.action>
                </f:else>
            </f:if>
        </f:then>
        <f:else>
            <f:link.action arguments="{order: type, direction: 'ASC'}">
                {f:translate(key: 'table.header.{type}')}
            </f:link.action>
        </f:else>
    </f:if>

    <f:if condition="{0: order} == {0: type}">
        <f:if condition="{0: direction} == {0: 'ASC'}">
            <f:then>
                <core:icon identifier="status-status-sorting-desc"/>
            </f:then>
            <f:else>
                <core:icon identifier="status-status-sorting-asc"/>
            </f:else>
        </f:if>
    </f:if>

</f:section>
</html>
