<f:be.container
    includeCssFiles="{0: '{f:uri.resource(path:\'Sass/Backend.css\')}'}"
    includeJsFiles="{0: ''}"
    enableClickMenu="false"
    loadExtJs="false"
    loadExtJsTheme="false"
    loadPrototype="false"
    loadScriptaculous="false"
    enableExtJsDebug="false"
    loadJQuery="true">

    <div class="overlay"></div>

    <div class="typo3-fullDoc">
        <div id="typo3-docheader">
            <div class="typo3-docheader-functions">
                <div class="left"></div>
                <div class="right">
                    <f:be.pagePath/>
                </div>
            </div>
            <div class="typo3-docheader-buttons">
                <div class="left">
                    <f:render section="Actions"/>
                </div>
                <div class="right">
                    <f:be.buttons.shortcut/>
                </div>
            </div>
        </div>
    </div>

    <div id="typo3-docbody">
        <div id="typo3-inner-docbody" class="my-redirects-backend">
            <f:render section="Content"/>
        </div>
    </div>
</f:be.container>