{namespace s = KoninklijkeCollective\MyRedirects\ViewHelper}
{namespace core = TYPO3\CMS\Core\ViewHelpers}

<tr class="db_list_normal">
    <td class="col-icon" nowrap="nowrap"></td>
    <td class="col-redirect-from" nowrap="nowrap">
        <span title="{s:domainUrl(redirect: redirect)}{redirect.url}">{s:domainUrl(redirect: redirect)}{redirect.url -> f:format.crop(maxCharacters: '50|...')}</span>
    </td>
    <td class="col-redirect-to" nowrap="nowrap"><span title="{redirect.absoluteDestination}">{redirect.absoluteDestination -> f:format.crop(maxCharacters: '50|...')}</span>
    </td>
    <td class="col-control" nowrap="nowrap">
        <div class="btn-group" role="group">
            <a class="btn btn-default" href="{s:editRecord(parameters: 'edit[tx_myredirects_domain_model_redirect][{redirect.uid}]=edit&returnUrl={moduleUrl}')}"
                title="{f:translate(key: 'redirect.action.edit')}">
                <core:icon identifier="actions-document-open"/>
            </a>

            <span class="btn btn-default disabled"><core:icon identifier="empty-empty"/></span>

            <f:if condition="{redirect.lastChecked}">
                <span class="btn btn-default disabled">

                        <f:if condition="{redirect.active} == 0">
                            <f:then>
                                <span title="{f:translate(key: 'redirect.action.error', arguments: '{0: redirect.inactiveReason, 1: redirect.ageLastChecked}')}">
                                    <core:icon identifier="actions-document-info" overlay="overlay-readonly"/>
                                </span>
                            </f:then>
                            <f:else>
                                <span title="{f:translate(key: 'redirect.action.last_lookup', arguments: '{0: redirect.ageLastChecked}')}">
                                    <core:icon identifier="actions-document-info"/>
                                </span>
                            </f:else>
                        </f:if>
                </span>
            </f:if>

            <f:link.action class="btn btn-default" action="lookup" controller="Redirect"
                arguments="{redirect: redirect, returnUrl: currentUrl}" title="{f:translate(key: 'redirect.action.lookup')}">
                <core:icon identifier="actions-document-history-open"/>
            </f:link.action>

            <span class="btn btn-default disabled"><core:icon identifier="empty-empty"/></span>

            <s:linkConfirm
                class="btn btn-default"
                link="{f:uri.action(action:'delete', controller:'Redirect', arguments: '{redirect: redirect, returnUrl: currentUrl}')}"
                message="{f:translate(key: 'confirm_delete', arguments: '{0: redirect.url, 1: redirect.absoluteDestination}')}"
                title="{f:translate(key: 'redirect.action.delete')}"/>
        </div>

    </td>
    <td class="col-redirect-hits" nowrap="nowrap">
        {redirect.counter}
    </td>
    <td class="col-redirect-last-hit-date" nowrap="nowrap">
        <f:format.date format="{settings.dateFormat}">{redirect.lastHit}</f:format.date>
    </td>
</tr>
