{namespace s=Serfhos\MyRedirects\ViewHelper}

<f:layout name="Backend"/>

<f:section name="Actions">
    <div class="buttongroup">
        <f:be.buttons.icon uri="{s:editRecord(parameters: 'edit[tx_myredirects_domain_model_redirect][0]=new&returnUrl={moduleUrl}')}"
            icon="actions-document-new" title="Create new Redirect"/>
    </div>
</f:section>

<f:section name="Content">
    <s:flashMessages renderMode="div" class="my-redirects-messages"/>

    <h1>
        <f:translate key="redirect.plural"/>
    </h1>

    <h2>
        <f:translate key="redirect.filter"/>
    </h2>

    <div class="filter">
        <f:form name="filter" object="{filter}">
            <f:form.hidden name="forceRedirect" value="1"/>
            <div class="filter-form-row">
                <span class="filter-form-term">
                    <label for="sword" class="sr-only">
                        <f:translate key="redirect.filter.sword"/>
                    </label>
                    <f:form.textfield id="sword" property="sword"
                        placeholder="{f:translate(key: 'redirect.filter.sword.placeholder')}"/>
                </span>
                <span class="filter-form-status">
                    <label for="status" class="sr-only">
                        <f:translate key="redirect.filter.status"/>
                    </label>
                    <f:form.select class="t3-select" id="status" property="status"
                        options="{active: 'Active', inactive: 'Inactive'}"
                        prependOptionLabel="{f:translate(key: 'redirect.filter.status.I.0')}"/>
                </span>
                <f:alias map="{domains: '{s:domains()}'}">
                    <f:if condition="{domains}">
                        <span class="filter-form-status">
                            <label for="domain" class="sr-only">
                                <f:translate key="redirect.filter.domain"/>
                            </label>
                            <f:form.select class="t3-select" id="domain" property="domain" options="{domains}"
                                prependOptionLabel="{f:translate(key: 'redirect.filter.domain.I.0')}"/>
                        </span>
                    </f:if>
                </f:alias>
                <span class="filter-form-submit">
                    <f:form.button>
                        <f:translate key="redirect.filter.button"/>
                    </f:form.button>
                </span>

                <f:if condition="{filter}">
                    <span class="filter-form-reset">
                        <f:link.action id="reset-filter" arguments="{forceRedirect: 1, filter: 0}">
                            <f:translate key="redirect.filter.reset"/>
                        </f:link.action>
                    </span>
                </f:if>
            </div>
        </f:form>
    </div>

    <f:if condition="{filter.page}">
        <f:link.page addQueryString="1" argumentsToBeExcludedFromQueryString="{0: 'id'}">
            <f:translate key="redirect.filter.ignore_page" arguments="{0: page.uid, 1: page.title}"/>
        </f:link.page>
    </f:if>

    <h2>
        <f:translate key="redirect.results"/>
    </h2>
    <f:be.widget.paginate objects="{redirects}" as="records" configuration="{itemsPerPage: 50, maximumNumberOfLinks: 4}">
        <div class="table-fit">
            <table width="100%" cellspacing="0" cellpadding="0" border="0" class="typo3-dblist table table-striped table-hover">
                <thead>
                    <tr class="c-table-row-spacer">
                        <td nowrap="nowrap" class="col-icon"><img width="1" height="8" alt="" src="/clear.gif"></td>
                        <td nowrap="nowrap" class="col-redirect-from"><img width="200" height="1" alt="" src="/clear.gif"></td>
                        <td nowrap="nowrap" class="col-redirect-to"><img width="50" height="1" alt="" src="/clear.gif"></td>
                        <td nowrap="nowrap" class="col-control"></td>
                        <td nowrap="nowrap" class="col-redirect-hits"><img width="10" height="1" alt="" src="/clear.gif"></td>
                    </tr>

                    <tr class="t3-row-header">
                        <td nowrap="nowrap" class="col-icon"></td>
                        <td nowrap="nowrap" class="col-redirect-from" colspan="5">
                            <strong>
                                <span class="c-table"><f:translate key="redirect.plural"/></span>
                                ({redirects -> f:count()})
                            </strong>
                        </td>
                    </tr>

                    <tr class="c-headLine">
                        <td nowrap="nowrap" class="col-icon"></td>
                        <td nowrap="nowrap" class="col-title col-redirect-from">
                            <f:render section="ListHeaderSorting"
                                arguments="{type: 'url', order: order, direction: direction}"/>
                        </td>
                        <td nowrap="nowrap" class="col-title col-redirect-to">
                            <f:render section="ListHeaderSorting"
                                arguments="{type: 'destination', order: order, direction: direction}"/>
                        </td>
                        <td nowrap="nowrap" class="col-control"></td>
                        <td nowrap="nowrap" class="col-redirect-hits">
                            <f:render section="ListHeaderSorting"
                                arguments="{type: 'counter', order: order, direction: direction}"/>
                        </td>
                        <td nowrap="nowrap" class="col-redirect-last-hit-date">
                            <f:render section="ListHeaderSorting"
                                arguments="{type: 'last_hit', order: order, direction: direction}"/>
                        </td>
                    </tr>
                </thead>
                <tbody>

                <f:if condition="{records}">
                    <f:then>
                        <f:for each="{records}" as="record">
                            <f:render partial="Redirect/ListRow" arguments="{redirect: record, currentUrl: currentUrl, moduleUrl: moduleUrl}"/>
                        </f:for>
                    </f:then>
                    <f:else>
                        <tr class="db_list_normal">
                            <td nowrap="nowrap" class="col-icon"></td>
                            <td nowrap="nowrap" class="col-redirect-from" colspan="5">
                                <f:translate key="no-records-found"/>
                            </td>
                        </tr>
                    </f:else>
                </f:if>

                </tbody>
            </table>
        </div>
    </f:be.widget.paginate>
</f:section>

<f:section name="ListHeaderSorting">
    <f:if condition="{0: order} == {0: type}">
        <f:then>
            <f:if condition="{0: direction} == {0: 'ASC'}">
                <f:then>
                    <f:link.action arguments="{order: type, direction: 'DESC'}">
                        {f:translate(key: 'table.header.{type}')}
                    </f:link.action>
                </f:then>
                <f:else>
                    <f:link.action arguments="{order: type, direction: 'ASC'}">
                        {f:translate(key: 'table.header.{type}')}
                    </f:link.action>
                </f:else>
            </f:if>
        </f:then>
        <f:else>
            <f:link.action arguments="{order: type, direction: 'ASC'}">
                {f:translate(key: 'table.header.{type}')}
            </f:link.action>
        </f:else>
    </f:if>

    <f:if condition="{0: order} == {0: type}">
        <f:if condition="{0: direction} == {0: 'ASC'}">
            <f:then>
                <f:be.buttons.icon icon="status-status-sorting-desc"/>
            </f:then>
            <f:else>
                <f:be.buttons.icon icon="status-status-sorting-asc"/>
            </f:else>
        </f:if>
    </f:if>
</f:section>