<f:layout name="Backend"/>

<f:section name="Actions">
    <f:if condition="{returnUrl}">
        <f:then>
            <f:be.buttons.icon uri="{returnUrl}" icon="actions-view-go-back"
                title="{f:translate(key:'LLL:EXT:lang/locallang_common.xlf:back')}"/>
        </f:then>
        <f:else>
            <f:be.buttons.icon uri="{f:uri.action(action:'list', controller:'Redirect')}" icon="actions-view-go-back"
                title="{f:translate(key:'LLL:EXT:lang/locallang_common.xlf:back')}"/>
        </f:else>
    </f:if>

    <f:be.buttons.icon uri="javascript:document.redirect.submit();" icon="actions-document-save-close"
        title="{f:translate(key:'LLL:EXT:lang/locallang_common.xlf:saveAndClose')}"/>
</f:section>

<f:section name="Content">
    <f:form action="create" name="redirect" class="validate" object="{redirect}">
        <f:form.hidden name="returnUrl" value="{returnUrl}"/>
        <f:render partial="Redirect/Form" arguments="{redirect: redirect}"/>
    </f:form>
</f:section>